
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
**app/node_modules**
**node_modules**
# Terraform variable files (often contain secrets)
*.tfvars
*.tfvars.json
!example.tfvars
